:root {
	/* Modo escuro da calculadora: */
	--primary-color-1: #000000;
	--primary-color-2: #343434;
	--primary-color-3: #A5A5A5;
	--primary-color-4: #ebebeb;
	--primary-color-5: #ffffff;
	--secondary-color-1: #f19a38; 
}

/*
	Cores do modo claro:
	#dba481
	#8f9bcc
	#41466e
	#ffffff
*/

#main {
	position: relative;
	background-color: var(--primary-color-1);
}

#theme {
	cursor: pointer;
	position: absolute;
	top: 50px;
	right: 50px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: var(--primary-color-3);
	padding: 8px;
	border: 0;
	border-bottom: 6px solid #808080;
	border-radius: 50%;
	outline: none;
}

#theme:active {
	top: 52px;
	border-bottom: 4px solid #808080;
}

#theme .icon {
	pointer-events: none;
	display: none;
	width: 40px;
	height: 40px;
}

#theme .icon.icon.--is-visible {
	display: block;
}

#math {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	width: clamp(240px, 100%, 380px);
	row-gap: 24px;
}

#math > .output {
	position: relative;
	display: flex;
	justify-content: stretch;
}

#math > .output > .result {
	display: none;
}

#math > .output > .display {
	width: 100%;
	padding: 24px 16px 8px;
	margin: 0 56px;
	font-size: 56px;
	color: var(--primary-color-5);
	background-color: var(--primary-color-2);
	border-radius: 8px;
	outline: none;
	border: 0;
}

#math > .input {
	display: flex;
	flex-direction: column;
	justify-content: stretch;
	row-gap: 16px;
}

#math > .input > .row {
	display: flex;
	justify-content: center;
	column-gap: 16px;
}

#math > .input > .row > .button {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 56px;
	height: 56px;
	font-size: 24px;
	border-radius: 16px;
	border: 0;
	outline: none;
}

#math > .input > .row > .button > img {
	pointer-events: none;
}

#math > .input > .row > .button.--number {
	color: var(--primary-color-5);
	border-bottom: 6px solid #252525;
	background-color: var(--primary-color-2);
}

#math > .input > .row > .button.--number:active {
	top: 2px;
	border-bottom: 4px solid #252525;
}

#math > .input > .row > .button.--option {
	color: var(--primary-color-2);
	border-bottom: 6px solid #808080;
	background-color: var(--primary-color-3);
}

#math > .input > .row > .button.--option:active {
	top: 2px;
	border-bottom: 4px solid #808080;
}

#math > .input > .row > .button.--operator {
	color: var(--primary-color-5);
	border-bottom: 6px solid #b8762a;
	background-color: var(--secondary-color-1);
}

#math > .input > .row > .button.--operator:active {
	top: 2px;
	border-bottom: 4px solid #b8762a;
}
