/* Estilização do fundo */
#app {
	display: flex;
	flex-direction: column;
	width: 100vw;
	height: 100vh;
	transition: background-color 800ms ease;
}

#app.--dark {
	background-color: var(--dark-1);
}

#app.--light {
	background-color: var(--light-1);
}

/* Estilização do componente de título da página */
#header {
	display: flex;
	justify-content: space-between;
	gap: 24px;
	padding: 24px 32px;
}

#header > .title {
	display: flex;
	align-items: center;
	gap: 8px;
	font-family: "Rubik", sans-serif;
	font-size: 1.25rem;
	transition: color 800ms ease;
}

#app.--light > #header > .title {
	color: var(--dark-1);
}

#app.--dark > #header > .title {
	color: var(--light-1);
}

#app.--light > #header > .title > strong {
	color: var(--light-color-1);
}

#app.--dark > #header > .title > strong {
	color: var(--dark-color-1);
}

/* Estilização do botão de troca de tema */
#header > .theme {
	cursor: pointer;
	display: flex;
	gap: 24px;
	padding: 6px 12px;
	border-radius: 24px;
	outline: none;
	overflow: hidden;
	transition: background-color 800ms ease, border-color 800ms ease;
	box-shadow: 3px 3px 6px 0px rgba(0,0,0,0.25);
}

#app.--light #header .theme {
	background-color: var(--light-3);
}

#app.--dark #header .theme {
	background-color: var(--dark-2);
}

#header > .theme > .content {
	flex-grow: 1;
	display: flex;
	align-items: center;
	justify-content: center;
}

#app.--light > #header > .theme > .content.--light {
	filter: opacity(0.35);
}

#app.--dark > #header > .theme > .content.--light {
	filter: brightness(4);
}

#header > .theme > .content > .icon {
	width: 24px;
	height: 24px;
	object-position: center;
}

/* Estilização do elemento da calculadora */
#math {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
}

#math > .output {
	display: flex;
	align-items: stretch;
}

#math > .output > .display {
	flex-grow: 1;
	width: 100%;
	padding: 32px 64px;
	font-family: "Poppins", sans-serif;
	font-size: 3.25rem;
	text-align: center;
	outline: none;
	border: 0;
	background-color: transparent;
	transition: color 800ms ease;
}

#app.--dark > #math > .output > .display {
	color: var(--light-3);
}

#app.--light > #math > .output > .display {
	color: var(--dark-3);
}

#math > .input {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	row-gap: 24px;
	padding: 48px 0;
	border-top-left-radius: 24px;
	border-top-right-radius: 24px;
	transition: background-color 800ms ease;
}

#app.--light > #math > .input {
	background-color: var(--light-3);
}

#app.--dark > #math > .input {
	background-color: var(--dark-2);
}

#math > .input > .row {
	display: flex;
	justify-content: center;
	column-gap: 10px;
}

#math > .input > .row > .button {
	cursor: pointer;
	flex-basis: 72px;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 52px;
	font-family: "Inconsolata", sans-serif;
	border: 0;
	border-radius: 8px;
	outline: none;
	transition:
		background-color 800ms ease,
		color 800ms ease,
		box-shadow 800ms ease;
}

#math > .input > .row > .button:active {
	transform: scale(.95);
}

#app.--light #math > .input > .row .button {
	box-shadow: inset -2px -2px 3px 3px var(--light-1);
	background-color: var(--light-3);
}

#app.--dark #math > .input > .row .button {
	box-shadow: inset -2px -2px 4px 0px var(--dark-3);
	background-color: var(--dark-1);
}

/* Botões de números da calculadora */
#math > .input > .row > .button.--number {
	font-size: 1.5rem;
	font-weight: 200;
}

#app.--light > #math > .input > .row > .button.--number {
	color: var(--dark-2);
}

#app.--dark > #math > .input > .row > .button.--number {
	color: var(--light-3);
}

/* Botões de opções da calculadora */
#math > .input > .row > .button.--option {
	font-size: 1.15rem;
	font-weight: 800;
}

#math > .input > .row > .button.--option:nth-child(1),
#math > .input > .row > .button.--option:nth-child(2) {
	padding: 12px 0 16px;
}

#app.--light > #math > .input > .row > .button.--option {
	color: var(--light-color-2);
}

#app.--dark > #math > .input > .row > .button.--option {
	color: var(--dark-color-2);
}

/* Botões de operadores matemáticos da calculadora */
#math > .input > .row > .button.--operator {
	font-size: 1.65rem;
	font-weight: 600;
}

#app.--light > #math > .input > .row > .button.--operator {
	color: var(--light-color-1);
}

#app.--dark > #math > .input > .row > .button.--operator {
	color: var(--dark-color-1);
}
